.footer{
  margin-top:0px auto ;
  background-color: gainsboro;
  /* background-color: rgb(111, 101, 121); */
  padding-top: 10px;

  bottom: 0%;
  height: 400PX;
  width: 100%;

}

.middle{
  margin-top: 60px;
  display: flex;
  padding-right: 10px;
}

.logo-bar{
  display: block;
}